In [7]:
import pandas as pd
import os

In [8]:
CWD = os.getcwd()
DATA_DIR = os.path.join(CWD, 'data')

In [9]:
ratings_df = pd.read_csv(os.path.join(DATA_DIR, 'ratings.csv'))

In [10]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [11]:
ratings_df.shape

(26024289, 4)

# EDA

In [18]:
n_users = ratings_df['userId'].nunique()
print('Avg number of ratings per user: {}'.format(int(ratings_df.shape[0] / n_users)))

Avg number of ratings per user: 96

In [19]:
ratings_df.groupby('rating').size()

rating
0.5     404897
1.0     843310
1.5     403607
2.0    1762440
2.5    1255358
3.0    5256722
3.5    3116213
4.0    6998802
4.5    2170441
5.0    3812499
dtype: int64