Data taken from [the movies dataset in Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset)

In [1]:
import pandas as pd
import os

In [2]:
CWD = os.getcwd()
DATA_DIR = os.path.join(CWD, 'data')

In [3]:
ratings_df = pd.read_csv(os.path.join(DATA_DIR, 'ratings.csv'))

In [4]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [5]:
ratings_df.shape

(26024289, 4)

# EDA

In [6]:
n_users = ratings_df['userId'].nunique()
print('Avg number of ratings per user: {}'.format(int(ratings_df.shape[0] / n_users)))

Avg number of ratings per user: 96

In [7]:
ratings_df.groupby('rating').size()

rating
0.5     404897
1.0     843310
1.5     403607
2.0    1762440
2.5    1255358
3.0    5256722
3.5    3116213
4.0    6998802
4.5    2170441
5.0    3812499
dtype: int64

In [8]:
movies_metadata_df = pd.read_csv(os.path.join(DATA_DIR, 'movies_metadata.csv'))

C:\Users\nolas\AppData\Local\Temp\ipykernel_29104\2140507666.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata_df = pd.read_csv(os.path.join(DATA_DIR, 'movies_metadata.csv'))

In [9]:
movies_metadata_df.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [11]:
movies_metadata_df.shape

(45466, 24)

In [12]:
ratings_df['movieId'].nunique()

45115

In [13]:
import re
def find_date(id):
    return bool(re.match('^[0-9]+$', id))

In [14]:
movies_metadata_df['keep_row'] = movies_metadata_df['id'].apply(find_date)

In [15]:
movies_metadata_df['keep_row'].value_counts()

True     45463
False        3
Name: keep_row, dtype: int64

In [16]:
movies_metadata_df[movies_metadata_df['keep_row'] == False]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keep_row
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [17]:
movies_metadata_df = movies_metadata_df[movies_metadata_df['keep_row'] == True]
movies_metadata_df['keep_row'].value_counts()

True    45463
Name: keep_row, dtype: int64

In [18]:
movies_metadata_df['id'] = movies_metadata_df['id'].astype('int64')
movies_metadata_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
keep_row                    bool
dtype: object

In [19]:
data = ratings_df.merge(movies_metadata_df.add_suffix('_movies'), left_on = 'movieId', right_on = 'id_movies', how = 'inner')
data.shape

(11437637, 29)

## Highest Rated Movie on Avg.

In [20]:
data.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'adult_movies',
       'belongs_to_collection_movies', 'budget_movies', 'genres_movies',
       'homepage_movies', 'id_movies', 'imdb_id_movies',
       'original_language_movies', 'original_title_movies', 'overview_movies',
       'popularity_movies', 'poster_path_movies',
       'production_companies_movies', 'production_countries_movies',
       'release_date_movies', 'revenue_movies', 'runtime_movies',
       'spoken_languages_movies', 'status_movies', 'tagline_movies',
       'title_movies', 'video_movies', 'vote_average_movies',
       'vote_count_movies', 'keep_row_movies'],
      dtype='object')

In [50]:
avg_rating = data.groupby(by = 'movieId')['rating'].mean().reset_index(name = 'avg_rating').sort_values(by = 'avg_rating', ascending = False)
n_ratings = data.groupby(by = 'movieId').size().reset_index(name = 'num_ratings')

In [51]:
all_ratings = avg_rating.merge(n_ratings, on = 'movieId', how = 'inner')
top_20_movies = all_ratings.sort_values(by = 'num_ratings', ascending = False).head(20)

In [52]:
top_20_movies

      movieId  avg_rating  num_ratings
45        318    4.429015        91082
89        296    4.169975        87901
103       593    4.152246        84078
112       260    4.132299        77045
1377      480    3.660238        74355
55        527    4.266531        67662
193       110    4.016057        66512
72       2959    4.230716        60024
493       150    3.884031        57416
2820      780    3.397042        57232
48        858    4.339811        57070
133      4993    4.104167        56827
342       457    3.982462        56820
2872      592    3.384822        53717
131       608    4.105347        52474
1012      590    3.740689        51338
163      2028    4.053711        50809
1235      588    3.687524        50375
2096      380    3.501834        50168
190      2762    4.021282        49643

In [53]:
data.merge(top_20_movies, on = 'movieId', how = 'inner').drop_duplicates(subset = ['movieId'])[['original_title_movies', 'avg_rating']]

                      original_title_movies  avg_rating
0                    Trois couleurs : Rouge    4.016057
66512                  Sleepless in Seattle    4.339811
123582                   Young and Innocent    4.021282
173225                       License to Wed    4.230716
233249                         The 39 Steps    4.132299
310294           La passion de Jeanne d'Arc    3.397042
367526                      Monsoon Wedding    3.660238
441881                   Once Were Warriors    4.266531
509543   Terminator 3: Rise of the Machines    4.169975
597444             The Million Dollar Hotel    4.429015
688526                          5 Card Stud    4.104167
745353                              48 Hrs.    3.884031
802769                             Rain Man    3.501834
852937                                Sissi    3.982462
909757                          Silent Hill    3.687524
960132                            The Hours    3.740689
1011470                    The Conversation    3.384822
1065187                             Солярис    4.152246
1149265                     Say Anything...    4.053711
1200074                     Men in Black II    4.105347